body{
    background: linear-gradient(
        90deg
         , #42d574 ,#fefffb ,#ffe000);
         margin-top: 10%;
}

.analog{
    
    height: 30vw;
    width: 30vw;
    margin: auto;
    border: 1vw solid green;
    border-radius: 50%;
    background-color: #ffe042;
    z-index: -1;
    position: relative;
}
.second_hand{
    height: 35%;
    width: 1%;
    background-color: black;
    margin: 16% 0% 0% 49%;
    position: absolute;
    transform-origin: bottom;
}
.minute_hand{
    height: 30%;
    width: 1.5%;
    background-color: brown;
    margin: 21% 0% 0% 49.5%;
    position: absolute;
        transform-origin: bottom;
}
.hour_hand{
    height: 23%;
    width: 2%;
    margin: 27.9% 0% 0% 49.4%;
    position: absolute;
    background-color: #e76519;
    transform-origin: bottom;
    
}
.dot{
    height: 1.3vw;
    width: 1.3vw;
    border-radius: 50%;
    background-color: black;
    margin: -16.6% 0 0 49.2%;
}

.bar_1{
    height: 3vw;
    width: 1vw;
    background-color: green;
    margin: -16.45% 0 0 49.5%;
}

.bar_2{
    height: 1vw;
    width: 3vw;
    background-color: green;
    margin: 11.9% 0 0 63%
}
.bar_3{
    height: 3vw;
    width: 1vw;
    background-color: green;
    margin: 12% 0 0 49.5%;
}
.bar_4{
    height: 1vw;
    width: 3vw;
    background-color: green;
    margin: -16.07% 0 0 34%;
}
@media(max-width:500px){
    .dot{
    margin:16.8% 0 0 49.2%;
    }

}
